<script type="text/html" id="ko:commcarehqFormQuestions">
    <select class="select2 form-control" data-bind="
        options: $root.commcarehqFormQuestions,
        optionsText: function (q) {return q.translations.en || q.hashtagValue},
        optionsCaption: 'Select a source',
        value: source
    "></select>
    <span data-bind="if: source()">
        <small class="help-block" data-bind="text: source().hashtagValue"></small>
        <!--ko if: source().tag === 'hidden'-->
        <small class="help-block">
            <strong>Calculate</strong>:
            <span data-bind="text: $root.formatCalculate(source().calculate)"></span>
        </small>
        <!--/ko-->
    </span>
</script>
<script type="text/html" id="ko:observations">
    <table class="table" data-bind="if: observations().length">
        <thead>
            <tr>
                <th></th>
                <th>Concept</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--ko foreach: observations-->
            <tr>
                <td>
                    <a href="#" data-bind="click: $root.removeObservation"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
                <td>
                    <span data-bind="text: concept.display"></span>
                    <small class="help-block" data-bind="text: concept.uuid"></small>
                </td>
                <td>
                    <!--ko if: concept.datatype == 'Coded'-->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-bind="checked: allowsMultipleAnswers"/>
                            Allows multiple answers
                        </label>
                    </div>
                    <!--/ko-->
                    <!--ko if: !allowsMultipleAnswers()-->
                        <!--ko template: {name: 'ko:commcarehqFormQuestions', data: $data}--><!--/ko-->
                    <!--/ko-->
                </td>
            </tr>
            <!--ko if: concept.datatype == 'Coded'-->
            <tr>
                <td></td>
                <td colspan="2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Corresponding answers</div>
                        <table class="table">
                            <tbody data-bind="foreach: answers">
                                <tr>
                                    <td class="col-md-4">
                                        <span data-bind="text: answerConcept.display"></span>
                                    </td>
                                    <td class="col-md-4">
                                        <!--ko if: $parent.allowsMultipleAnswers-->
                                            <!--ko template: {name: 'ko:commcarehqFormQuestions', data: {source: answerSource}}--><!--/ko-->
                                        <!--/ko-->
                                    </td>
                                    <td class="col-md-4">
                                        <!--ko if: source() && source().options-->
                                        <select class="form-control" data-bind="
                                            options: $parent.source().options,
                                            optionsText: function (o) { return o.translations.en; }
                                            optionsCaption: '[Question not filled]'
                                        "></select>
                                        <!--/ko-->
                                        <!--ko if: source() && !source().options-->
                                        <input type="text" class="form-control" placeholder="Matching value">
                                        <!--/ko-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </td>
            </tr>
            <!--/ko-->
            <!--/ko-->
        </tbody>
    </table>
    <select class='select2 form-control' data-bind="
        options: concepts,
        optionsText: 'display',
        value: newConcept,
        optionsCaption: 'Select a concept to add...',
        event: {change: addObservation}
    "></select>
</script>
