{% extends 'prototype/base.html' %}
{% load staticfiles %}
{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trigger: CommCare HQ</h3>
        </div>
        <div class="panel-body">
            <img class="pull-left" src="{% static 'prototype/img/commcarehq-small.png' %}" alt="CommCare HQ"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><strong>When</strong>: A new form is submitted</li>
            <li class="list-group-item"><strong>Application</strong>: Educador de Saude 2.0</li>
            <li class="list-group-item"><strong>Form</strong>: First Visit</li>
        </ul>
    </div>

{% endblock %}
{% block content %}
    <h1>Select an Action</h1>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="{% static 'prototype/img/commcarehq.png' %}" alt="CommCare HQ"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="{% url 'prototype_action_openmrs' domain %}" class="thumbnail">
                <img src="{% static 'prototype/img/openmrs.png' %}" alt="OpenMRS"/>
            </a>
        </div>
    </div>

{% endblock %}
