{% extends 'prototype/base.html' %}
{% load staticfiles %}
{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trigger: CommCare HQ</h3>
        </div>
        <div class="panel-body">
            <img class="pull-left" src="{% static 'prototype/img/commcarehq-small.png' %}" alt="CommCare HQ"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><strong>When</strong>: A new form is submitted</li>
            <li class="list-group-item"><strong>Application</strong>: Educador de Saude 2.0</li>
            <li class="list-group-item"><strong>Form</strong>: First Visit</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Action: OpenMRS</h3>
        </div>
        <div class="panel-body">
            <img src="{% static 'prototype/img/openmrs-small.png' %}" alt="CommCare HQ"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Create an Encounter</li>
            <li class="list-group-item"><strong>Encounter Type</strong>: S.TARV: BUSCA ACTIVA</li>
            <li class="list-group-item"><strong>Form</strong>: TARV: VISITA DOMICILIARIA</li>
        </ul>
    </div>

{% endblock %}
{% block content %}
    <h1>Configure the Encounter</h1>

    <form class="form-horizontal">
{#        <div class="form-group">#}
{#            <label for="encounterDate" class="col-sm-2 control-label">Encounter Date</label>#}
{#            <div class="col-sm-10">#}
{#                <input type="text" class="form-control" id="encounterDate">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="location" class="col-sm-2 control-label">Location</label>#}
{#            <div class="col-sm-10">#}
{#                <input type="text" class="form-control" id="location">#}
{#            </div>#}
{#        </div>#}

        <div class="form-group" id="koPatientCorrespondence">
            <label class="col-sm-2 control-label">Patient (UUID)</label>
            <div class="col-sm-10">
                <!--ko template: {name: 'ko:patientCorrespondence'}--><!--/ko-->
            </div>
        </div>

{#        <div class="form-group">#}
{#            <label for="provider" class="col-sm-2 control-label">Provider (UUID)</label>#}
{#            <div class="col-sm-10">#}
{#                <input type="text" class="form-control" id="provider">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="patient" class="col-sm-2 control-label">Patient (UUID)</label>#}
{#            <div class="col-sm-10">#}
{#                <input type="text" class="form-control" id="patient">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="visit" class="col-sm-2 control-label">Visit (UUID)</label>#}
{#            <div class="col-sm-10">#}
{#                <input type="text" class="form-control" id="visit">#}
{#            </div>#}
{#        </div>#}

        <div class="form-group">
            <label for="observations" class="col-sm-2 control-label">Observations</label>
            <div class="col-sm-10" id="koObservations">
                <!--ko template: {name: 'ko:observations'}--><!--/ko-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Continue</button>
            </div>
        </div>
    </form>
    {% include 'prototype/ko-templates/observations.html' %}
    {% include 'prototype/ko-templates/patientcorrespondence.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'prototype/js/observations.js' %}"></script>
    <script src="{% static 'prototype/js/patientcorrespondence.js' %}"></script>
{% endblock %}

{% block js-inline %}
{{ block.super }}

<script>
    $(function () {
        var concepts = {% include 'prototype/fixturedata/observations.json' %};
        var select2Nodes = [];
        $('body').on('DOMNodeInserted', 'select.select2', function () {
            if (!_.includes(select2Nodes, this)) {
                $(this).select2();
                select2Nodes.push(this);
            }
        });

        var viewModel = hqImport('prototype/js/observations.js').ObservationsViewModel(concepts);
        $.getJSON("{% url 'commcarehq_application_form_questions' domain 'c5f4816d5782be671a570ac944dda40e' 'c26ada00320f741a6468362cd6bc6797f2873c96' %}").done(function (data) {
            viewModel.commcarehqFormQuestions(data);
        });
        $('#koObservations').koApplyBindings(viewModel);
        $('form').submit(function (e) {
            e.preventDefault();
        })
    });
</script>
<script>
    $(function () {
        var viewModel = hqImport('prototype/js/patientcorrespondence.js').PatientCorrespondenceViewModel();
        $.getJSON("{% url 'openmrs_all_patient_identifier_types' domain %}").done(function (data) {
            viewModel.patientIdentifierTypes(data);
        });
        $.getJSON("{% url 'commcarehq_known_case_properties' domain %}").done(function (data) {
            var properties = _.find(data, _.iteratee('caseType', 'paciente')).properties;
            viewModel.caseProperties();
        });
        $('#koPatientCorrespondence').koApplyBindings(viewModel);
    });
</script>
{% endblock %}
